/*Basic styling for page*/
.cursive{
    font-family: 'Dancing Script', cursive;
}

.cute-background {
    background-image: url("img/hello-kitty.jpeg");
    object-fit: cover;
    background-attachment: scroll;
}
.pink-background{
    background-color: #F8AEC5;
}

.coffee-name-text-area {
    border: #fca2a2 dotted 2px;
    background-color: rgba(250, 250, 250, 0.22);
}
/*Rainbow text animation*/
.rainbow-text {
    animation: rainbow 2.5s linear;
    animation-iteration-count: infinite;
}

/*rainbow*/

@keyframes rainbow {
    100%, 0% {
        color: rgb(255, 0, 0);
    }
    8% {
        color: rgb(255, 127, 0);
    }
    16% {
        color: rgb(255, 255, 0);
    }
    25% {
        color: rgb(127, 255, 0);
    }
    33% {
        color: rgb(0, 255, 0);
    }
    41% {
        color: rgb(0, 255, 127);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    58% {
        color: rgb(0, 127, 255);
    }
    66% {
        color: rgb(0, 0, 255);
    }
    75% {
        color: rgb(127, 0, 255);
    }
    83% {
        color: rgb(255, 0, 255);
    }
    91% {
        color: rgb(255, 0, 127);
    }
}
/*style for images*/
.rounded {
    border-radius: 100%;
}
/*Header style*/
.custom-Header {
    width: 100%;
    height: 150px;
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    padding: 20px;
}

.custom-title {
    font-family: 'Abril Fatface', cursive;
    font-size: 80px;
}
/*Giant cute cup style*/
.cute-cup {
    height: 50vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 50%;
}
/*Giant cute cup animation*/
.cute-cup:hover {
    height: 550px;
    transition: 2s;
}
/*sparkle gif style*/
.sparkle {
    width: 30px;
    height: 30px;
}
.header-sparkle {
    width: 10vh;
    height: 10vh;
}
/*Coffee logo*/
.hello-coffee{
    width: 450px;
    height: 450px;
}
/*coffee selection picture styling*/
.coffee-pic {
    width: 150px;
    border: 1px dotted pink;
    border-radius: 50%;
}
/*styling for coffee selection cards*/
div.coffee {
    border: 1px dashed white;
    background-color: rgba(255, 255, 255, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    padding: 10px;
}
/*make dropdown wider*/
.roast-dropdown{
    width: 100%;
}

.width-full{
    width: 400px;
    height: 30px;
}
/*Font for titles*/
.coffee-title {
    font-size: 4rem;
}
.select-roast-option, .type-coffee, .add-coffee {
    font-size: 3rem;
}